@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');*/

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased; /* значение «antialised» делает текст более тонким и гладким в Сафари*/
	-webkit-overflow-scrolling:  touch; /*сайт можно проскролить даже с помощью тача*/

	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6, {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #ff2400;
}

a:hover {
	color: #7b7b7b;
	text-decoration: none;
	/*outline: 0;*/
}

/*hr {
	display: block;
	height: 1px;
	border: 20px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}*/

.navbar {
	font-weight: 900;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d3d;
	border-color: #2d2d3d;
}

.navbar-inverse .navbar-nav > .active > a{
	background-color: #ff7878;
}

.navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

#headerwrap {
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/Begin.jpg) no-repeat center top ;
	margin-top: -5px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size: cover; /*изображение подстраивалось под все разрешения экранов*/
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 500;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.w {
	padding-top: 45px;
	padding-bottom: 30px;
}

.w i {
	color: #ff2400;
	font-size: 30px;
}

.w h4 {
	font-size: 32px;
}

#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4{
	font-size: 40px;
}

.tilt-effect {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tilt-effect:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.wb {
	padding-top: 35px;
	margin-bottom: 0;
}

.wb h4 {
	font-size: 35px;
}

#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-size: 45px;
}

/*#r {
	background: #ff7878;
	padding-top: 70px;
	padding-bottom: 70px;
}


#r h4 {
	color: white;
	font-size: 45px;
}

#r p {
	color: white;
}*/

/*Свойства футера сайта*/
footer {
  /*position: absolute;
  right: 0;
  left: 0;
  height: auto;
  width: 100vw;*/
  background: #111;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*расставляет элементы в ряд или в колонку*/
  text-align: center;
}
.footer-content h3{
  font-size: 25px;
  font-weight: 400;
  /*text-transform: capitalize;*/
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px;
  line-height: 28px;
  font-size: 18px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color:  #fff;
}
.socials a i{
  font-size: 20px;
  transition: color .4s ease; /*позволяет управлять плавным переходом между двумя состояниями элемента*/

}
.socials a:hover i{
  color: #008cf0;
}

.footer-bottom {
  background: #000;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/*#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 20px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}*/